.first {
  color: rebeccapurple;
  font-size: 40px;
  background-color: pink;
  font-variant: small-caps;
}

h2 {
  font-size: 30px;
  color: orange;
  background-color: aqua;
}

.list {
  font-size: 18px;
  color: #1a258a;
  background-color: #917bf1;
  border: 1px solid #000000;
}